body {
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}

.c-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  border: none;
}

.c-tag {
  display: inline-block;
  padding: 0 24px;
  background-color: #d9d9d9;
  color: #4b4b4b;
  border-radius: 18px;
  font-size: 20px;
  margin-right: 10px;
}

.l-form-container {
  background-color: #ffffff;
  max-width: 760px;
  margin: 20px auto 50px;
  padding: 40px;
  box-sizing: border-box;
}

.c-form-heading {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

.c-form-label {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.c-form-input {
  width: 100%;
  max-width: 680px;
  height: 57px;
  padding: 0 10px;
  border: 1px solid #5f5f5f;
  border-radius: 4px;
  box-sizing: border-box;
}

.c-btn-submit {
  width: 100%;
  height: 60px;
  background-color: #ff5555;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.c-btn-submit:hover {
  opacity: 0.8;
}

.c-form-error {
  color: #ff0000;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0;
  min-height: 20px;
}

.c-select-wrap {
  position: relative;
  width: 100%;
}

.c-select-wrap::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 16px solid #5f5f5f;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  pointer-events: none;
}

.c-btn-outline {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ff5555;
    color: #ff5555;
    background-color: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.c-btn-outline:hover {
    background-color: #ff555510;
}