body {
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}

.c-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  border: none;
}

.c-tag {
  display: inline-block;
  padding: 0 24px;
  background-color: #d9d9d9;
  color: #4b4b4b;
  border-radius: 18px;
  font-size: 20px;
  margin-right: 10px;
}

.register-form,
.login-form,
.profile-setup,
.item-sell__inner,
.address-edit__inner {
  background-color: #ffffff;
  max-width: 760px;
  margin: 20px auto 50px;
  padding: 40px;
  box-sizing: border-box;
}

.register-form__heading,
.login-form__heading,
.profile-setup__heading,
.item-sell__title,
.address-edit__heading {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

.register-form__group,
.login-form__group,
.profile-setup__group {
  margin-bottom: 10px;
}

.register-form__label,
.login-form__label,
.profile-setup__label,
.address-edit__label {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.register-form__input,
.login-form__input,
.profile-setup__input,
.address-edit__input {
  width: 100%;
  max-width: 680px;
  height: 57px;
  padding: 0 10px;
  border: 1px solid #5f5f5f;
  border-radius: 4px;
  box-sizing: border-box;
}

.register-form__btn-submit,
.login-form__btn-submit,
.profile-setup__btn-submit,
.item-sell__btn-submit,
.item-purchase__btn-submit,
.address-edit__btn-submit {
  width: 100%;
  height: 60px;
  background-color: #ff5555;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form__btn-submit:hover,
.register-form__btn-submit:hover,
.profile-setup__btn-submit:hover {
  opacity: 0.8;
}

.register-form__error-message,
.login-form__error-message,
.profile-setup__error,
.address-edit__error-message {
  color: #ff0000;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0;
  min-height: 20px;
}

.item-sell__input,
.item-sell__textarea,
.item-sell__select {
  width: 100%;
  border: 1px solid #5f5f5f;
  border-radius: 4px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #fff;
}